.loader {
    width: 100px;
    height: 100px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.imageContainer {
    width: 100%;
    height: 50%;
}

.thumbnailImage {
    height: 100px;
}

.itemContainer {
    text-align: center;
    display: flex;
    width: 20%;
    flex-direction: column;
    max-height: 300px;
    padding-left: 10px;
    min-height: 300px;

}

.itemContainerRoot {
    box-shadow: 3px 2px 5px gray;
    padding: 5px;
    background: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    overflow: hidden
}

.itemDescription {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;

}

.itemDetailContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.itemTitle {
    font-weight: bold;
}

.itemPrice {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
}

.itemPrice>p {
    color: red;
}

.titleNavbar {
    margin-top: 10px;
    margin-bottom: 50px;
}

.navbarDiv {
    justify-content: center !important;
}

.itemDiv {
    align-items: flex-start;
    row-gap: 5px;
}

.searchDiv {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.searchTextbox {
    width: 20rem !important;
    margin-bottom: 2em;
}

.loadingContainer {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    display: flex;
}

.loadingDiv {
    min-width: 100px;
    height: 100px;
}